/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2017, 11:28:03 AM
    Author     : irina
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2017, 12:24:15 PM
    Author     : irina
*/
@import url("https://fonts.googleapis.com/css?family=Arvo|Josefin+Sans");
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* custom layouts */
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.display-table {
  display: table;
  width: 100%;
  height: 100%; }
  .display-table .display-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

.img-responsive, .single .entry-content img {
  max-width: 100%;
  height: auto;
  display: block; }

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.basic-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .basic-container:after {
    content: " ";
    display: block;
    clear: both; }
  .basic-container article {
    width: 18%;
    float: left;
    margin-left: 1%;
    margin-right: 1%; }
    @media (min-width: 600px) and (max-width: 1024px) {
      .basic-container article {
        width: 48%;
        float: left;
        margin-left: 1%;
        margin-right: 1%; }
        .basic-container article:first-child {
          width: 98%;
          float: left;
          margin-left: 1%;
          margin-right: 1%; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .basic-container article {
        width: 98%;
        float: left;
        margin-left: 1%;
        margin-right: 1%; } }

.wide-container article {
  width: 14.2857142857%;
  float: left;
  padding-left: 0.7142857143%;
  padding-right: 0.7142857143%; }
  @media (min-width: 768px) and (max-width: 1100px) {
    .wide-container article {
      width: 25%;
      float: left;
      padding-left: 0.8333333333%;
      padding-right: 0.8333333333%; }
      .wide-container article:nth-child(-n+3) {
        width: 33.3333333333%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .wide-container article {
      width: 50%;
      float: left;
      padding-left: 0.7142857143%;
      padding-right: 0.7142857143%; }
      .wide-container article:last-child {
        width: 100%;
        float: left;
        padding-left: 0.7142857143%;
        padding-right: 0.7142857143%; } }

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

body {
  background: #222;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  line-height: 19.5px;
  font-size: 0.9375rem;
  line-height: 1.21875rem;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 32px;
  line-height: 41.6px;
  font-size: 2rem;
  line-height: 2.6rem; }

h2 {
  font-size: 24px;
  line-height: 31.2px;
  font-size: 1.5rem;
  line-height: 1.95rem; }

h3 {
  font-size: 17px;
  line-height: 22.1px;
  font-size: 1.0625rem;
  line-height: 1.38125rem; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.thumb {
  position: relative; }
  .thumb .thumb-link {
    position: absolute;
    width: 100%;
    height: 100%; }

.medium-thumb {
  height: 200px; }

.small-thumb {
  height: 130px; }

/* == BUTTONS == */
.susy-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 13px;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  padding: 10px 14px;
  border: 1px solid #ffcdcd;
  background: transparent;
  color: #ffcdcd;
  opacity: 1; }
  .susy-btn:hover {
    opacity: 0.7; }

.link {
  color: #eaa2a2;
  opacity: 1; }
  .link:hover {
    opacity: 0.7; }

.menu-icon {
  width: 35px;
  height: 25px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }
  .menu-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #eaa2a2;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
    .menu-icon span:nth-child(1) {
      top: 0px; }
    .menu-icon span:nth-child(2) {
      top: 10px; }
    .menu-icon span:nth-child(3) {
      top: 20px; }
  .menu-icon.open span:nth-child(1) {
    top: 0px;
    left: 8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .menu-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0; }
  .menu-icon.open span:nth-child(3) {
    top: 25px;
    left: 8px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

nav {
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 0 3px #434343;
  -moz-box-shadow: 0 0 3px #434343;
  box-shadow: 0 0 3px #434343;
  padding: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  nav .toggle-menu {
    display: none; }
  nav .logo {
    width: 23.3333333333%;
    float: left;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
    text-align: left; }
  nav .menu {
    width: 73.3333333333%;
    float: right;
    margin-left: 0.8333333333%;
    margin-right: 0.8333333333%;
    text-align: right; }
  @media (min-width: 320px) and (max-width: 850px) {
    nav .menu {
      display: none; }
    nav .logo {
      width: 81.6666666667%;
      float: left;
      margin-left: 0.8333333333%;
      margin-right: 0.8333333333%; }
    nav .toggle-menu {
      display: block;
      position: absolute;
      right: 20px;
      top: 17px; } }

main {
  padding: 10vh 0; }

.logo {
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  font-size: 25px;
  line-height: 32.5px;
  font-size: 1.5625rem;
  line-height: 2.03125rem;
  text-transform: uppercase;
  color: #eaa2a2; }
  .logo a {
    position: absolute;
    width: 100%;
    height: 100%; }

.menu .menu-item {
  display: inline-block;
  text-transform: uppercase; }
  .menu .menu-item a {
    color: #222;
    padding: 0 15px; }
    .menu .menu-item a:last-child {
      padding: 0 0 0 15px; }

header {
  height: 70vh;
  background: #fff;
  padding: 60px 20px 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  color: #222;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 600px) {
    header {
      height: 100vh; } }

.main-title {
  font-size: 50px;
  line-height: 65px;
  font-size: 3.125rem;
  line-height: 4.0625rem;
  margin: 0 0 20px 0; }
  @media (min-width: 320px) and (max-width: 768px) {
    .main-title {
      font-size: 30px;
      line-height: 39px;
      font-size: 1.875rem;
      line-height: 2.4375rem; } }

.tagline {
  font-size: 25px;
  line-height: 32.5px;
  font-size: 1.5625rem;
  line-height: 2.03125rem; }

article {
  padding-bottom: 30px;
  margin-bottom: 20px; }

.entry-title {
  color: #ffcdcd;
  font-family: "Arvo", serif; }

.entry-excerpt {
  margin-bottom: 20px; }

.basic-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .basic-container:after {
    content: " ";
    display: block;
    clear: both; }
  .basic-container article {
    width: 18%;
    float: left;
    margin-left: 1%;
    margin-right: 1%; }
    @media (min-width: 600px) and (max-width: 1024px) {
      .basic-container article {
        width: 48%;
        float: left;
        margin-left: 1%;
        margin-right: 1%; }
        .basic-container article:first-child {
          width: 98%;
          float: left;
          margin-left: 1%;
          margin-right: 1%; } }
    @media (min-width: 320px) and (max-width: 599px) {
      .basic-container article {
        width: 98%;
        float: left;
        margin-left: 1%;
        margin-right: 1%; } }

.wide-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .wide-container article {
    width: 14.2857142857%;
    float: left;
    padding-left: 0.7142857143%;
    padding-right: 0.7142857143%; }
    @media (min-width: 768px) and (max-width: 1100px) {
      .wide-container article {
        width: 25%;
        float: left;
        padding-left: 0.8333333333%;
        padding-right: 0.8333333333%; }
        .wide-container article:nth-child(-n+3) {
          width: 33.3333333333%;
          float: left;
          padding-left: 0.8333333333%;
          padding-right: 0.8333333333%; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .wide-container article {
        width: 50%;
        float: left;
        padding-left: 0.7142857143%;
        padding-right: 0.7142857143%; }
        .wide-container article:last-child {
          width: 100%;
          float: left;
          padding-left: 0.7142857143%;
          padding-right: 0.7142857143%; } }

.single .article-layout {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .single .article-layout:after {
    content: " ";
    display: block;
    clear: both; }

.single article {
  width: 66%;
  float: left;
  margin-left: 2%;
  margin-right: 2%; }

.single aside {
  width: 26%;
  float: right;
  margin-left: 2%;
  margin-right: 2%; }

@media (min-width: 320px) and (max-width: 768px) {
  .single article,
  .single aside {
    width: 96%;
    float: left;
    margin-left: 2%;
    margin-right: 2%; }
  .single article {
    border-bottom: 1px solid #fff;
    padding-bottom: 50px; } }
