@import url('https://fonts.googleapis.com/css?family=Arvo|Josefin+Sans');

$dark-grey: #222; 
$body-font: 'Josefin Sans', sans-serif;
$title-font: 'Arvo', serif;
$light: #eee;
$pink: #ffcdcd;
$dark-pink: #eaa2a2;